
body {
    text-align: center;
    background-color: #1c2c57;
    font-family:verdana;
    background-image: url('pics/book1.png'), url('pics/rb.png'), url('pics/celstialsphr.png');
    background-repeat: no-repeat, repeat-y, repeat-x;
    background-position: center, center, center;
    background-attachment: fixed, fixed, fixed;
    background-size: 42% auto, contain, cover;
    overflow-y: scroll;
     }

a {
    color:  #a4002e;
    }
    
h1 {
      color: #ffcd29;
    }
    
h2 {
      color: #ffcd29;
    }
    
h3 {
      color: #a51e00;
    }
    
p {
      color: #04695e;
    }
    
.idk img {
    vertical-align: middle;
    margin: 0px;
    width: 5%;
    height: 5%;
}

.one {
    font-size: 100%;
    width: 100%;
    height: 100%;
    position:fixed;
}

.two {
    font-size: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-box {
    position: fixed;
    left: 49%;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    width: 27%;
    height: 45%;
    padding: 15px;
    overflow-y: scroll;
    }

.index {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 40%;
    cursor: pointer;
    z-index:99;
}

.buttons {
    font-size: 10px;
    position: fixed;
    background: #ecf0d1;
    border: 6px solid #ecf0d1;
    left: 78%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 15%;
    cursor: pointer; 
    z-index: 99;  
}

#tblcsvdata {
  color: #8cf3ff;
  position: fixed;
  right: 30px;
  top: 200px;
  width: 30vw;
  height: 200px; /*FIXED*/
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
  overflow-y: auto;
  display: block;
}

#tblcsvdata th, #tblcsvdata td {
    padding: 5px;
    border: 1px solid rgba(255,255,255,0.3);
}

.a_toc {
    border: 6px solid #fff98a;
    background: #fff98a;
    width: 5%;
    height: 3%;
    position: fixed;
    margin: 100px auto;
    left: 24%;
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.scroll2 {
    position: fixed;
    left: 49%;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    width: 27%;
    height: 45%;
    padding: 15px;
    overflow-y: scroll;
    }
    
.scroll3 {
    color: #980d3e;
    position: fixed;
    left: 49%;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    width: 27%;
    height: 40%;
    padding: 15px;
    overflow-y: scroll;
    }